@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
.blue {
  color: blue;
}

$theme: rgb(30, 172, 255);

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
  background-color: black;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: auto;
  cursor: default;
}

.container {
  padding: 0%;
  display: flex;
  flex-direction: column;
}

.text-intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0%;
  #text1 {
    color: azure;

    display: flex;
    flex-direction: column;
    h5 {
      margin: 10px;
      width: 100%;
      word-wrap: break-word;
      font-family: "Patrick Hand", cursive;
      text-transform: uppercase;
      font-size: xx-large;
    }
    p {
      margin: 10px;
      width: 100%;
      word-wrap: break-word;
      color: grey;
      text-transform: uppercase;
      font-size: medium;

      span {
        color: white;
        font-weight: 500;
        cursor: pointer;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-evenly;
      margin: 50px 10px;

      button {
        border-radius: 8px;
        padding: 8px 30px;
        background-color: $theme;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border: 0 solid;
      }
    }
  }
  .img1 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 20px 0;
  }
  .card {
    width: 60%;
    height: auto;
  }
}

.container1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;

  .text2 {
    color: grey;
    margin: 10px 5px;
    width: 50%;
    padding: 30px;

    h5 {
      word-wrap: break-word;
      font-size: x-large;
      margin: 0 10px;
      padding: 20px 0;
    }
  }
  .banner {
    width: 50%;
    height: auto;
    margin: 20px 8px;
    background-color: plum;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    border-radius: 10px;

    h4 {
      font-weight: 800;
      color: white;
    }
    .banner:hover {
      background-color: rgb(238, 109, 238);
    }
  }
}

.buttons1 {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 60%;
    padding: 10px 20px;
    border-radius: 8px;
    border: 0 solid;
    background-color: $theme;
    color: aliceblue;
    font-weight: 500;
    font-size: large;
  }
}

#carouselExampleCaptions {
  margin: 60px;
}
.carousel-caption {
  h5 {
    color: black;
  }
  p {
    color: antiquewhite;
  }
}

.columns {
  float: left;
  width: 33.3%;
  padding: 10px;
  margin: 5px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: $theme;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.font {
  color: white;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

footer {
  background-color: $theme;
  border: none;
  p {
    text-align: center;
    a {
      text-decoration: none;
      color: black;
      font-size: large;
      font-weight: 500;
    }
  }
}

.container22 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #eee;

  .item {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 20px 5px;
  }
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
  .column {
    width: 90%;
    display: block;
  }
  .row {
    padding: 10px;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 0;
    display: block;
    width: 100%;
    margin: 30px;
  }

  .text-intro {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0%;
    #text1 {
      color: azure;

      display: flex;
      flex-direction: column;
      h5 {
        margin: 10px;
        width: 100%;
        word-wrap: break-word;
        font-family: "Patrick Hand", cursive;
        text-transform: uppercase;
        font-size: xx-large;
      }
      p {
        margin: 10px;
        width: 100%;
        word-wrap: break-word;
        color: grey;
        text-transform: uppercase;
        font-size: medium;

        span {
          color: white;
          font-weight: 500;
          cursor: pointer;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-evenly;
        margin: 50px 10px;

        button {
          border-radius: 8px;
          padding: 8px 30px;
          background-color: $theme;
          color: white;
          font-weight: bold;
          cursor: pointer;
          border: 0 solid;
        }
      }
    }
    .img1 {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: center;
      margin: 20px 0;
    }
    .card {
      width: 60%;
      height: auto;
    }
  }

  #carouselExampleCaptions {
    margin: 120px;
  }
  .carousel-caption {
    h5 {
      color: black;
    }
    p {
      color: antiquewhite;
    }
  }
  .columns {
    // float: left;
    // clear: right;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px;
  }

  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }

  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }

  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }

  .button {
    background-color: $theme;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  .font {
    color: white;
  }

  .column {
    float: none;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 0 16px;
  }

  .container::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
}
